# Example env file
# Copy to .env and alter accordingly

AUTH_TOKEN=super_secret_authentication_token

ICECAST_SOURCE_PASSWORD=hackme
ICECAST_ADMIN_PASSWORD=hackme
ICECAST_RELAY_PASSWORD=hackme
ICECAST_ADMIN_USERNAME=admin
#ICECAST_ADMIN_EMAIL=
#ICECAST_LOCATION=
#ICECAST_MAX_CLIENTS=
#ICECAST_MAX_SOURCES=

# LetsEncrypt image settings
URL=example.com
SUBDOMAINS=api,streaming
TZ=Europe/London

# 0 for root, 1000 for default first linux user
PUID=1000
PGID=1000

# Streaming
STREAM_SECRET_KEY=key