REACT_APP_APIARY_API_URL=http://localhost:8000/graphql
REACT_APP_APIARY_SPONSORSHIP_URL=http://centaurea.land/our-activities-and-products.html
REACT_APP_APIARY_DEVELOPMENT_STREAM_URL=https://api.apiary.centaurea.land/hls/stream.m3u8